/*reset start*/
* {
    margin: 0;
    padding: 0; 
    border: 0; 
    background: transparent; 
    outline: none; 
    text-decoration: none; 
    font-family: inherit; 
    box-sizing: border-box;
}

ol, 
ul, 
li {
    list-style: none; 
    display: block;
}

a img {
    border: none;
}

/*reset end*/

//rgba(0, 239, 209, 1)
//rgba(239, 0, 129, 1)
#root{
    color: white;
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 0.08rem;

    nav{
        //a logot es az ul-t kiteszi a navbar ket szelere
        height: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        background-color: #000;
        font-family: 'Allerta Stencil', sans-serif;

        .nav-logo {
            height: 100px;
            width: 100%;
            font-size: 2.1rem;
            font-weight: 500;
            color: #ef0081;
            display: flex;
            align-items: center;

            &::before{
                content:"";
                background-image: url("./images/up-arrow.png");
                background-size:cover;
                display: inline-block;
                width: 60px; 
                height: 60px;
            }
        }

        //ezzel allitom a li-ket egymas melle
        .nav-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            
            .nav-item {
                margin-left: 5rem;

                .nav-link{
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #ef0081;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }

        .hamburger {
            display: none;
        
            //hamburger ikon
            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: #ef0081;
            }
        }
    }

    header{
        height: 25rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        #left-side{
            width: 50%;
            height: 100%;
            border: 1px solid #ef0081;
            position: relative;
            overflow:hidden; //levagja a divbol kilogo tartalmat
            background-color: #000000;

            picture{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;


                img{
                    width: auto;
                    height: 100%;
                }
            }

            #headline-container{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: absolute;
                top: 0;
                left:0;
                padding: 20px;

                #top-source-name{
                    width: fit-content;
                    padding: 2px;
                    font-weight: 500;
                    color: #000;
                    background-color: #00efd1;
                }

                h3{
                    font-size: 1.3rem;
                    line-height: 2rem;
                    text-transform: uppercase;
                    background-color: rgba(0, 0, 0, 0.4);
                }

                .author{
                    background-color: rgba(0, 0, 0, 0.4);

                    &::before{
                        content: "Author: ";
                    }
                }
            }
        }

        #right-side{
            width:50%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #000;
            background-color: #ef0081;
            background: linear-gradient(333deg, rgba(239,0,129,1) 30%, rgba(0,239,209,1) 82%);
            
            h1{
                padding-bottom: 2rem;
                font-family: 'Allerta Stencil', sans-serif;
                font-size: 3rem;
            }

            p {
                font-size: 1.5rem;
                line-height: 2.5rem;
                font-weight: 500;

                span{
                    font-weight: 700;
                    line-height: 4.5rem;

                }
            }
        }
    }
}

//breakpoint tablet
@media (max-width: 768px) {
    #root{
        nav{
            .nav-menu {
                position: fixed;
                left: -100%;
                top: 8rem;
                flex-direction: column;
                background-color: #000;
                width: 100%;
                border-top: 1px solid #ef0081;
                text-align: center;
                transition: 0.3s;
                box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
                z-index: 10;
        
                .nav-item {
                    margin: 2.5rem 0;
                }
            }
        
            .nav-menu.active {
                left: 0;
            }
        
            .hamburger {
                display: block;
                cursor: pointer;
            }
        
            //Hamburger ikon valtozas 3 vonalbol x-be
            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }
        
            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
        
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}