/*reset start*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

a img {
  border: none;
}

/*reset end*/
body {
  width: 100%;
  height: 100%;
  background-color: #000;
}

#root {
  width: 1349px;
  color: white;
  font-family: 'Urbanist', sans-serif;
  letter-spacing: 0.08rem;
}

#root nav {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  background-color: #000;
  font-family: 'Allerta Stencil', sans-serif;
}

#root nav .nav-logo {
  height: 100px;
  width: 100%;
  font-size: 2.1rem;
  font-weight: 500;
  color: #ef0081;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root nav .nav-logo::before {
  content: "";
  background-image: url("./images/up-arrow.png");
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 60px;
}

#root nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root nav .nav-menu .nav-item {
  margin-left: 5rem;
}

#root nav .nav-menu .nav-item .nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ef0081;
}

#root nav .nav-menu .nav-item .nav-link:hover {
  color: #fff;
}

#root nav .hamburger {
  display: none;
}

#root nav .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ef0081;
}

#root header {
  height: 25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root header #left-side {
  width: 50%;
  height: 100%;
  border: 1px solid #ef0081;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

#root header #left-side picture {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root header #left-side picture img {
  width: auto;
  height: 100%;
}

#root header #left-side #headline-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

#root header #left-side #headline-container #top-category {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
  font-weight: 500;
  color: #000;
  background-color: #00efd1;
}

#root header #left-side #headline-container h3 {
  font-size: 1.3rem;
  line-height: 2rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
}

#root header #left-side #headline-container h3 a:visited, #root header #left-side #headline-container h3 a:focus, #root header #left-side #headline-container h3 a:hover, #root header #left-side #headline-container h3 a {
  color: #fff;
}

#root header #left-side #headline-container .author {
  background-color: rgba(0, 0, 0, 0.5);
}

#root header #left-side #headline-container .author::before {
  content: "Author: ";
}

#root header #right-side {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  background-color: #ef0081;
  background: linear-gradient(333deg, #ef0081 30%, #00efd1 82%);
}

#root header #right-side h1 {
  padding-bottom: 2rem;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 3rem;
}

#root header #right-side p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
}

#root header #right-side p span {
  font-weight: 700;
  line-height: 4.5rem;
}

#root main {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root main h2 {
  width: 100%;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 2rem;
  line-height: 5rem;
  border-bottom: 1px solid #00efd1;
}

#root main .news-grid-container {
  width: 100%;
  height: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 50%;
      grid-template-columns: 25% 25% 50%;
  -ms-grid-rows: 33.3% 17% 16.4% 33.3%;
      grid-template-rows: 33.3% 17% 16.4% 33.3%;
  border-bottom: 5px solid #ef0081;
}

#root main .news-grid-container .category {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
}

#root main .news-grid-container .author::before {
  content: "Author: ";
}

#root main .news-grid-container .container-small-left {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border-right: 1px solid #ef0081;
}

#root main .news-grid-container .container-small-left .category {
  background-color: #ef0081;
}

#root main .news-grid-container .container-small-right {
  width: 100%;
  height: 100%;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

#root main .news-grid-container .container-small-right .category {
  background-color: #00efd1;
  color: #000;
}

#root main .news-grid-container .container-small-left, #root main .news-grid-container .container-small-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#root main .news-grid-container .container-small-left img, #root main .news-grid-container .container-small-right img {
  width: auto;
  height: 50%;
}

#root main .news-grid-container .container-small-left .news-details, #root main .news-grid-container .container-small-right .news-details {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
}

#root main .news-grid-container .container-small-left .news-details .category, #root main .news-grid-container .container-small-right .news-details .category {
  margin-bottom: 0.5rem;
}

#root main .news-grid-container .container-small-left .news-details .title, #root main .news-grid-container .container-small-right .news-details .title {
  margin-bottom: 0.5rem;
}

#root main .news-grid-container .container-small-left .news-details .author, #root main .news-grid-container .container-small-right .news-details .author {
  font-size: 0.8rem;
}

#root main .news-grid-container .container-big {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
  border-top: 10px solid #ef0081;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root main .news-grid-container .container-big img {
  width: auto;
  height: 100%;
}

#root main .news-grid-container .container-big .news-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

#root main .news-grid-container .container-big .news-details .category {
  background-color: #00efd1;
  color: #000;
  margin-bottom: 0.5rem;
}

#root main .news-grid-container .container-big .news-details .title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#root main .news-grid-container .container-big .news-details .author {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 0.8rem;
}

#root main .news-grid-container .right-container-top {
  width: 100%;
  height: 100%;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  border-left: 5px solid #00efd1;
  border-bottom: 1px solid #00efd1;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root main .news-grid-container .right-container-top img {
  width: 100%;
  height: auto;
}

#root main .news-grid-container .right-container-top .news-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

#root main .news-grid-container .right-container-top .news-details .category {
  background-color: #ef0081;
  margin-bottom: 0.5rem;
}

#root main .news-grid-container .right-container-top .news-details .title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#root main .news-grid-container .right-container-top .news-details .author {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 0.8rem;
}

#root main .news-grid-container .right-container-mid {
  width: 100%;
  height: 100%;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  border-left: 5px solid #00efd1;
  border-bottom: 1px solid #00efd1;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root main .news-grid-container .right-container-mid img {
  width: 100%;
  height: auto;
}

#root main .news-grid-container .right-container-mid .news-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

#root main .news-grid-container .right-container-mid .news-details .category {
  background-color: #00efd1;
  color: #000;
  margin-bottom: 0.5rem;
}

#root main .news-grid-container .right-container-mid .news-details .title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#root main .news-grid-container .right-container-mid .news-details .author {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 0.8rem;
}

#root main .news-grid-container .right-container-mid .category {
  background-color: #00efd1;
  color: #000;
}

#root main .news-grid-container .right-container-bottom {
  width: 100%;
  height: 100%;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  border-left: 5px solid #00efd1;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root main .news-grid-container .right-container-bottom img {
  width: 100%;
  height: auto;
}

#root main .news-grid-container .right-container-bottom .news-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

#root main .news-grid-container .right-container-bottom .news-details .category {
  background-color: #ef0081;
  margin-bottom: 0.5rem;
}

#root main .news-grid-container .right-container-bottom .news-details .title {
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#root main .news-grid-container .right-container-bottom .news-details .author {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  #root nav .nav-menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #000;
    width: 100%;
    border-top: 1px solid #ef0081;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 10;
  }
  #root nav .nav-menu .nav-item {
    margin: 2.5rem 0;
  }
  #root nav .nav-menu.active {
    left: 0;
  }
  #root nav .hamburger {
    display: block;
    cursor: pointer;
  }
  #root nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  #root nav .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  #root nav .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  #root header #left-side {
    width: 60%;
  }
  #root header #left-side #headline-container h2 {
    font-size: 1.3rem;
  }
  #root header #left-side #headline-container #top-category {
    font-size: 0.8rem;
  }
  #root header #left-side #headline-container h3 {
    font-size: 1rem;
    line-height: 1.7rem;
  }
  #root header #left-side #headline-container .author {
    font-size: 0.8rem;
  }
  #root header #right-side {
    width: 40%;
    padding: 20px;
  }
  #root header #right-side h1 {
    padding-bottom: 1.5rem;
    font-size: 2.2rem;
  }
  #root header #right-side p {
    font-size: 1rem;
    line-height: 2rem;
  }
  #root header #right-side p span {
    line-height: 4rem;
  }
  #root main h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 520px) {
  #root nav .nav-menu {
    position: fixed;
    left: -100%;
    top: 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #000;
    width: 100%;
    border-top: 1px solid #ef0081;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 10;
  }
  #root nav .nav-menu .nav-item {
    margin: 2rem 0;
  }
  #root nav .nav-menu.active {
    left: 0;
  }
  #root nav .hamburger {
    display: block;
    cursor: pointer;
  }
  #root nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  #root nav .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  #root nav .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  #root header {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root header #left-side {
    width: 100%;
    height: 20rem;
  }
  #root header #left-side #headline-container #top-category {
    font-size: 0.6rem;
  }
  #root header #left-side #headline-container h3 {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  #root header #left-side #headline-container .author {
    font-size: 0.6rem;
  }
  #root header #right-side {
    width: 100%;
    height: 100%;
  }
  #root header #right-side h1 {
    padding-bottom: 1.5rem;
    font-size: 2.2rem;
  }
  #root header #right-side p {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  #root main h2 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */